/* dictating the image background controls */
body {
  background-image: url(img/gallery.jpeg);
  background-size: 175%;
  background-position: 50% 0%;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

/* dictating the H1 controls */
h1 {
  font-family: "Copperplate", sans-serif;
  font-size: 7vw;
  text-align: center;
  padding-top: 60px;
  color: white;
  margin: 0;
  opacity: 0.7;
}

/* dictating H2 controls */
h2 {
  font-family: "Copperplate", sans-serif;
  font-size: 5vw;
  text-align: center;
  color: grey;
  margin: 0;
  opacity: 0.5;
}

/* return button position */
.return {
  position: fixed;
  text-decoration: none;
  display: inline-block;
  padding: 2px 10px;
  text-align: center;
  color: white;
  opacity: 0.7;
}

/* return button becomes clearer when hovering */
.return:hover {
  background-color: #0000;
  opacity: 1;
  color: white;
}

/* return buttons remains the same after clicking */
.return:visited {
  text-decoration: none;
}

/* retur button shape and color */
.previous {
  background-color: #0000;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  justify-content: center;
  position: fixed;
  top: 15px;
  left: 25px;
}

/* gallery row rules */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
    text-align: center;
  }

/* gallery hover shadow for clarity */
.hover-shadow:hover {
  box-shadow: 0px 0px 20px 0;
  color: black;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 45%;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
